---
layout: default
---

<div class="row">


    <div class="col-md-8">

        <h3>La Jaquería</h3>
        <p>La Jaquería es una organización de naturaleza asociativa sin ánimo de lucro con fines culturales situado en Almería.
cuyas finalidades son, resumiendo: Promover la experimentación y el conocimiento tecnológico, científico, y artístico a través de la colaboración y educación social sirviendo de punto de difusión de la llamada cultura maker, o conjunto de prácticas basadas en el “hágalo por si mismo” herederas de la ética hacker y la experimentación en los procesos de creación y fabricación digital (diseño global, fabricación local), acercando la Ciencia y la Tecnología a la ciudadanía para fomentar la cultura científica y el racionalismo.
Pero además, esetimulando lo colectivo tanto como lo personal, la cercanía entre iguales, los afectos, los proyectos, ideas o sueños. Esperamos ser un espacio de colaboración que
            solucione problemas reales de la sociedad tanto como divertirnos debatiendo, haciendo o compartiendo; queremos ser lugar y grupo de cooperación, difusión y divulgación científico humanística a partes iguales.</p>
    </div>

    <div class="col-md-4">

        <h3>Actividades</h3>
        <p>Loren Ipsun blablabla</p>
        <h5><strong>Próximas actividades</strong></h5>
        {% assign curDate = site.time | date: "%Y-%m-%d" %}
        <ul>
            {% for post in site.categories.actividades reversed %}
            {% assign date = post.date | date: "%Y-%m-%d" %}
            {% if date >= curDate %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        <p><a href="{{ site.url }}/sesiones" class="button">Ver las actividades</a></p>
    </div>
</div>
